@font-face{
    font-family: 'MyFont';
    src: url('./myfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello{
    color: red;
    background: url('./Singapore.jpg');
    font-family: 'MyFont';
}